.education-title {
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-3);
}

.education-container {
  margin-block: var(--size-2);
}

.education-details {
  display: flex;
  justify-content: space-between;
}

.education-name {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-6);
}

.education-dates {
  font-style: italic;
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-3);
}

.education-field {
  font-style: italic;
}
