html {
  font-family: var(--font-sans);
}

.app {
  display: flex;
  background-color: var(--gray-1);
  min-height: 100vh;
}

.input-section {
  flex: 1;
  padding: var(--size-3);
  outline: 1px solid #ebeef8;
  height: 100vh;
  overflow: auto;
  /* scroll-behavior: smooth; */
}

.preview-section {
  flex: 2;
  padding: var(--size-3);
  outline: 1px solid #ebeef8;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-1);
  gap: var(--size-2);
  margin-block-end: var(--size-2);
  margin-block-start: var(--size-2);
  padding-block-end: var(--size-4);
  padding-block-start: var(--size-4);
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form textarea,
.form input {
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--gray-5);
  background-color: var(--gray-2);
  padding: var(--size-1);
}

textarea::selection,
input::selection {
  background-color: var(--cyan-9);
  color: var(--cyan-0);
}

textarea:focus-visible,
input:focus-visible {
  outline-color: var(--cyan-6);
}

.button {
  border-radius: var(--radius-2);
  font-size: var(--font-size-2);
  padding-inline: var(--size-5);
  padding-block: var(--size-2);
  background-color: var(--cyan-6);
  color: var(--cyan-0);
  width: 100%;
}

.button:hover {
  background-color: var(--cyan-7);
}

.button-delete {
  border: var(--border-size-1) solid var(--cyan-6);
  background-color: var(--cyan-0);
  color: var(--cyan-9);
}

.button-delete:hover {
  background-color: var(--cyan-6);
  color: var(--cyan-0);
}

.form-container {
  box-shadow: var(--shadow-2);
  border: var(--border-size-1) solid var(--gray-5);
  border-radius: var(--radius-3);
  margin-block-end: var(--size-8);
  padding: var(--size-3);
}

.form:not(:first-child) {
  border-top: var(--border-size-1) solid var(--gray-5);
  /* margin-block-start: var(--size-7); */
}

.form-title {
  font-size: var(--font-size-2);
  margin-block-end: var(--size-2);
}
