html {
  /* font-family: var(--font-sans); */
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--gray-1);
}

.app {
  display: flex;
  min-height: 100vh;
  width: 85%;
  margin-inline: auto;
}

.app-title {
  padding-inline: var(--size-1);
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-5);
  margin-bottom: var(--size-4);
  color: var(--cyan-9);
}

.input-section {
  padding: var(--size-4);
  /* outline: 1px solid #ebeef8; */
  height: 100vh;
  width: 32%;
  overflow: auto;
}

.preview-section {
  /* flex: 2; */
  background-color: #fff;
  box-shadow: var(--shadow-3);
  padding-block: var(--size-4);
  padding-inline: var(--size-8);
  /* outline: 1px solid red; */
  width: 60%;
  margin-block: var(--size-4);
  margin-inline: auto;
}

@media only screen and (max-width: 1500px) {
  .app {
    width: 100%;
  }

  .preview-section {
    width: 66%;
  }
}

/* @media only screen and (max-width: 1250px) {
  .preview-section {
    width: 66%;
  }
} */

@media only screen and (max-width: 950px) {
  .app {
    flex-direction: column;
  }

  .input-section {
    height: fit-content;
    width: 100%;
    overflow: visible;
  }

  .preview-section {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-1);
  gap: var(--size-2);
  margin-block-end: var(--size-2);
  margin-block-start: var(--size-2);
  padding-block-end: var(--size-4);
  padding-block-start: var(--size-4);
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form textarea,
.form input {
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--gray-5);
  background-color: var(--gray-2);
  padding: var(--size-1);
}

textarea::selection,
input::selection {
  background-color: var(--cyan-9);
  color: var(--cyan-0);
}

textarea:focus-visible,
input:focus-visible {
  outline-color: var(--cyan-6);
}

.button {
  border-radius: var(--radius-2);
  font-size: var(--font-size-2);
  padding-inline: var(--size-5);
  padding-block: var(--size-2);
  background-color: var(--cyan-6);
  color: var(--cyan-0);
  width: 100%;
}

.button:hover {
  background-color: var(--cyan-7);
}

.button-delete {
  border: var(--border-size-1) solid var(--cyan-6);
  background-color: var(--cyan-0);
  color: var(--cyan-9);
}

.button-delete:hover {
  background-color: var(--cyan-6);
  color: var(--cyan-0);
}

.form-container {
  box-shadow: var(--shadow-2);
  border: var(--border-size-1) solid var(--gray-5);
  border-radius: var(--radius-3);
  margin-block-end: var(--size-8);
  padding: var(--size-3);
  background-color: var(--gray-0);
}

.form:not(:first-child) {
  border-top: var(--border-size-1) solid var(--gray-5);
  /* margin-block-start: var(--size-7); */
}

.form-title {
  font-size: var(--font-size-2);
  margin-block-end: var(--size-2);
}

.control-buttons {
  display: flex;
  padding-inline: var(--size-1);
  margin-bottom: var(--size-3);
  gap: var(--size-4);
}
